<h1>Welcome to Mypage</h1>
<p>
name: 久保 喬平()
</p>
<p>
age: 25歳( 1999.2月.1日 )
</p>
<p>

</p>


<h2>yo</h2>
<p>
SNSアカウント
</p>
<li>
X  /
  <%= link_to "@kb21_doofy", "https://x.com/home?lang=ja"%>
</li>
<li>
Github / 
<%= link_to "@kb21-doofy", "https://github.com/kb21-doofy"%>
</li>

<p>
  ブログアカウント
</p>
<li>
  はてなブログ / 
  <%= link_to "ミャンもす日記", "https://myanmoth.hatenablog.com/"%>
</li>


